---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Gradient transparent - color - transparent */

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

#markdown-toc ul {
  list-style: circle;
}

#markdown-toc li {
  padding: 2px 0px;
}

#markdown-toc {
  border-top: 1px solid $text-color;
  border-bottom: 1px solid $text-color;
  border-radius: 10px;
  padding: 1.3rem;
}

#markdown-toc a {
  color: $text-color
}